{% extends 'base.html' %}


{% block head %}
<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', 
filename='css/style.css') }}">
{% endblock %}
{% block body %}
<div class="content">
 <h1 style="text-align: center">Predict Your chances for 
Admission</h1>

 <center>
<div class="form">
 <form action="/predict" method="POST">
  GRE Score &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <input type="number" name="gre_score" id="gre_score"
placeholder="GRE Score"><br>
  TOEFL Score   &nbsp &nbsp &nbsp &nbsp
 <input type="number" name="toefl_score" id="toefl_score"
placeholder="TOEFL Score"><br>
  University Rating &nbsp
 <input type="number" name="university_rating"
id="university_rating" placeholder="University Rating"> <br>
  SOP Score &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp
 <input type="number" name="sop" id="sop"
placeholder="SOP Score" step="any"> <br>
  LOR Score &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <input type="number" name="lor" id="lor"
placeholder="LOR Score" step="any"> <br>
  CGPA &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
 <input type="number" name="cgpa"
id="cgpa"placeholder="CGPA" step="any"> <br>
 Research &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
  <select name="research" id="research">
 <option value="yes">Yes</option>
 <option value="no">No</option>
</select> <br>
 <input type="submit" value="Predict" >
 </form>
 </center>

 </div>
</div>
{% endblock %}
